<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Primera pagina web</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
      deserunt minus tenetur. Nesciunt impedit culpa quam ipsa sunt eum nihil
      consequuntur repellendus. Tempore nihil nostrum rem similique cumque
      voluptas voluptate!
    </p>
  </body>
</html>
